:root{
  --color1:rgb(171, 230, 210);
  --color2:rgb(175, 139, 222);
  --color3:rgb(255, 223, 159);
  --white-light:rgb(255, 255, 255);
  --white:rgb(245, 245, 245);
  --gray:gray;
  --kinda-gray:#f3f3f3c3;
  --black:black;
  --writing:black;
  --width-welcomeMe:200px;
}

* {
  margin: 0;
  padding: 0;
}


/* Navbar */
.navbar {
  
  color: var(--writing);
  background:var(--white-light);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: transform 0.3s ease-out;
}
.navbar.hide {
  transform: translateY(-100%);
}

 .not-for-phones {
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  flex-direction: row;
  justify-content: space-around;
}

.icon-photo {
  border-radius: 50%;
}
.navbar-brand {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand,
.nav-item {
  padding: 10px;
  border-radius: 15px;
}

.navbar-brand:hover,
.nav-item:hover {
  animation: colorChange 2s linear infinite;
}

.nav-link{
  color: var(--writing);
}

/* Welcome Section -----------------------------------------------------------*/
#welcome {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--color1)25%,
    var(--color2)
  );
}

#welcome-part,#welcome-part2{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 150px;
  background-color: var(--kinda-gray);
  box-shadow: 0px 0px 60px 20px var(--kinda-gray);
  z-index: 2;
  /* box-shadow: 0px 0px 60px 20px #e7e7e7; */
}

#welcome-part {
  left: 0;
  border-radius: 0 10px 10px 0;
}

#welcome-part:hover {
  transform: scaleX(1) rotate(5deg);
  transition: 2s ease all;
  left: 80px;
}

#welcome-text {
  font-size: 2em;
  width: 180px;
  margin: 0 10px;
}

#welcome-part2 {
  right: 0;
  border-radius: 10px 0 0 10px;
}

#welcome-part2:hover {
  transform: scaleX(1) rotate(-5deg);
  transition: 2s ease all;
  right: 80px;
}

.susFace {
  font-size: 5em;
}

.hand {
  font-size: 5em;
  animation-name: wave-animation;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
}

#welcomeMe {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px var(--kinda-gray);
  border-radius: 50%;
  animation: antiSpin 20s linear infinite;
}

.social-meadia{
  position: relative;
}
.social-meadia a{
  scale: 1.5;
  position: absolute;
  color: var(--black-gray);
}
.social-meadia .github{
  left: 45px;
  top: 215px;
}
.social-meadia .linkedin{
  left: 35px;
  top: -35px;
}
.social-meadia .instagram{
  top: 90px;
  right: -45px;
}
.social-meadia .fa-github{
  translate: -50%;
  rotate:-60deg;
}
.social-meadia a .fa-linkedin{
  translate: -50%;
  rotate: 60deg;
}

.social-meadia{
  animation: spin 20s linear infinite;
  
}

/*about me part -----------------------------------------------------------------  */

#about {
  padding:50px;
  background: var(--white);
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
}

#about p{
  text-indent: 10px;
}
#about h3{
  text-indent: 50px;
}


.about-me-emoji-part{
  display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height: 100px;
}
.rate{
  display: inline-flex;
  width: 400px;
}

.one-tick,.zero-tick{
  display: inline-block;
  border: black 1px solid;
  width: 100%;
  height: 20px;
}
.one-tick{
  background-color: var(--color1);
}
.zero-tick{
  background-color: var(--white-light);
  /* background-color: rgb(255, 255, 255); */
}



/* skills part      ----------------------------------------------------*/
#skills{
  display: flex;
  justify-content: center ;
  padding: 20px;
  height: fit-content !important;
  background: linear-gradient(180deg, var(--white) 40%,var(--color3));
}

#skills > .row{
  justify-content: center;
}

.logo{
  width: 50px;
  margin: 0 10px;
  transition-duration: 500ms;
}

#skills .logo:hover{
  transform: scale(1.5);
}
.logos-div{
  width: fit-content;
}

.skills-subsections{
  padding:10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.certificate{
  width: 360px;
  transition-duration: 1s;
}
.certificate:hover{
  transform: scale(1.5);
}
.certificate-heading{
  display: flex;
  justify-content: center;
}

/* projects -------------------------------------------------------------*/

#projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding-top: 70px;
  padding-bottom: 100px;
 background: linear-gradient(180deg,var(--color3),var(--white));
}
#projects>h3{
  width: 100vw;

  text-align: center;
}
.card{
  margin: 15px;
  height: fit-content;
}

/* contact -------------------------------------------------------------*/

#contact{
  height: fit-content;
 background: url("../src/images/contact.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;
}

#contact>.form{
  height: 600px;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-indent: 30px;
}

#contact h4{
  width: fit-content;
  padding-right: 20px;
  border-radius: 5px;
  animation: clearText 20s linear infinite;

}

input,textarea,#contact button{
  border-radius: 5px;
  border: solid 1px gray;
  /* background-color: rgb(238, 238, 238,0.8); */
  background: var(--kinda-gray);
  margin-bottom: 20px;
  color: var(--writing);
}

input{
  width: 180px;
  padding: 10px;
}
textarea{
  width:80vw;
  min-width: 250px;
  max-width: 650px;
  padding: 15px;
}
#contact button{
  width: 80px;
  height: 40px;
  display: block;
  margin-left: 50px;
}
.alert{
  width: 300px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert a{
  font-size: 30px;
  color: var(--writing);
  text-decoration: none;
}

/* footer  ----------------------------------------------------------*/

.footer{
  padding-top: 30px;
}

.footer-container,.footer-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer ul{
  list-style: none;
}
.footer ul a{
  text-decoration: none;
  color: var(--writing);
}
.footer-container p{
  text-align: center;
}

/* dark mode toogler -------------------------------------------------*/
#dark-mode-toggle{
  background: var(--gray);
  position: sticky;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  left: 100%;
}

/* media ------------------------------------------------------------*/

@media only screen and (max-width: 400px){
  *{
    font-size: 0.6rem;
  }
  .certificate{
    width: 98vw;
  }
  .navbar{
    width: 100vw;
  }
  textarea{
    width:80vw!important ;
  }
}

@media only screen and (max-width: 576px) {
  *{
    font-size:.85rem;
  }
 .not-for-phones{
  display: none;
 }

  #welcome-part,#welcome-part2{
    display: none;
  }
  #about{
    padding: 15px;
  }
  #about h3{
    text-indent: 2%;
  }
  .skills-subsections{
    padding: 10px;
  }
}

@media only screen and (min-width: 576px) {

  .navbar-toggler{
    display: none;
  }

  .skills-subsections{
    margin-top: 5px;
  }
  .for-phones{
    display: none;
  }

}

@media only screen and (min-width: 800px) {

  .skills-subsections{
    margin-top: 10px;
    /* padding-left: 100px; */
  }
  #welcome-text {
    font-size: 2.5em;
    width: 220px;
  }
  

}
@media only screen and (max-width: 1200px){
  #welcome-part {
    top: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  #welcome {
    height: 650px;
  }
  #welcome-text {
    font-size: 4em;
    width: 300px;
  }
  #welcome-part:hover {
    left: 130px;
  }
  #welcome-part2:hover {
    right: 130px;
  }
  #welcomeMe {
    width: 300px;
    height: 300px;
  }
  .social-meadia .github{
    left: 65px;
    top: 310px;
  }
  .social-meadia .linkedin{
    left: 55px;
    top: 3/2*-35px;
  }
  .social-meadia .instagram{
    top: 140px;
    right: -60px;
  }
  .about-me-emoji-part{
      justify-content: space-around;
  }

}



/* Animations       ----------------------------------------------------*/
@keyframes colorChange {
  25% {
    background-color: var(--color1);
  }
  50% {
    background-color: var(--color3);
  }
  75% {
    background-color: var(--color2);
  }
  100% {
    background-color: var(--color1);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  35% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes clearText {
  0% {
    background: var(--kinda-gray);
  }
  25% {
    background: var(--kinda-gray);
  }
  60%{
    background: transparent;
  }
  100%{
    background: var(--kinda-gray);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  18%{
    transform: rotate(180deg);
  }
  32%{
    transform: rotate(180deg);
  }
  42%{
    transform: rotate(300deg);
  }
  56%{
    transform: rotate(300deg);
  }
  66%{
    transform: rotate(420deg);
  }
  80%{
    transform: rotate(420deg);
  }
  100%{
    transform: rotate(720deg);
  }
}

@keyframes antiSpin {
  0% {
    transform: rotate(0deg);
  }
  18%{
    transform: rotate(-180deg);
  }
  32%{
    transform: rotate(-180deg);
  }
  42%{
    transform: rotate(-300deg);
  }
  56%{
    transform: rotate(-300deg);
  }
  66%{
    transform: rotate(-420deg);
  }
  80%{
    transform: rotate(-420deg);
  }
  100%{
    transform: rotate(-720deg);
  }
}